Screen {
    align: center middle;
    layers: standard above;
    layout: horizontal;
}

/* Input {
    border: none;
    height: 1;
} */

/* Input:focus {
    border: none;
    height: 1;
} */

/* Prompt {
    dock: bottom;
} */

ValueSelector {
    layer: above;
    width: auto;
    border: double orange;
    text-align: center;
}

ValueInput {
    layer: above;
    width: auto;
    border: double orange;
    text-align: center;
}